.square {
  width: 45px;
  height: 45px;
  text-align: center;
  background: #fff;
  border: 2px solid #999;
  margin: -1px;
  font: bold 30px/30px 'Press Start 2P', cursive, sans-serif;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: fit-content;
}

.title {
  font-size: 1.35rem;
  margin-bottom: 10px;
}
