body {
  background-color: #222;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: url('./assets/bg.svg') center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
